<a href="https://colab.research.google.com/github/Bae-SeungKwang/etc/blob/master/%5B2%EC%9E%A5%5D_Python_%EA%B8%B0%EB%B3%B8_240316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# 2.1.2.5 문자역 인덱싱(indexing)
string = 'apple'

#첫번째 문자(인덱스 0)가져오기
print('첫번째문자: ', string[0])

#두번째 문자(인덱스 1)가져오기
print('두번째문자: ', string[1])

length = len(string)
print('마지막문자 방법1: ', string[length-1])
print('마지막문자 방법2: ', string[-1])
print('뒤에서 3번째 문자: ', string[-3])

첫번째문자:  a
두번째문자:  p
마지막문자 방법1:  e
마지막문자 방법2:  e
뒤에서 3번째 문자:  p

In [14]:
# 2.1.2.5 문자열 슬라이싱(slicing)
# 아래 문자에서 'are'만 출력하기
string = 'who are you?'
# 인덱싱을 활용한 방법
new_string1 = string[4] + string[5] + string[6]
# 슬라이싱을 활용한 방법
new_string2 = string[4:7]
new_string1, new_string2

('are', 'are')

In [16]:
# 2.1.2.5 문자열 슬라이싱(slicing)
string = 'who are you?'

#시작 인덱스를 생략하면 문자열의 처음(인덱스 0)부터 시작한다
new_string1 = string[:4] #처음부터 인덱스 4미만 까지
print(new_string1)
print('-'*100)
#끝 인덱스를 생략하면 문자열의 끝까지 진행한다
new_string2 = string[8:] #인덱스 8에서 끝까지
print(new_string2)

who
----------------------------------------------------------------------------------------------------
you?

In [18]:
#2.1.2.7 문자열 포맷팅(formatting)
#[1]숫자를 문자열에 바로 대입하기
string1 = "i am %d years old" % 50
print(string1)
print('-'*100)

#[2]숫자를 나타내는 변수로 대입
num = 50
string2 = "i am %d years old" % num
print(string2)

i am 50 years old
----------------------------------------------------------------------------------------------------
i am 50 years old

In [19]:
#2.1.2.7 문자열 포맷팅(formatting)
#[3]문자열을 문자열에 바로 대입하기
string3 = "i am %s years old" % 'fifty'
print(string3)
print('-'*100)

#[4] 2개 이상의 값 넣기
string4 = 'i am %d years %s.' % (50, 'old')
print(string4)

i am fifty years old
----------------------------------------------------------------------------------------------------
i am 50 years old.

In [20]:
#2.1.2.7 문자열 포맷팅(formatting)
#소수점 표현하기. 소수점 4째자리까지만 표현(5째자리에서 반올림)
"%0.4f" % 3.123456

'3.1235'

In [22]:
#2.1.2.7 문자열 포맷팅(formatting)
#format함수를 사용한 포맷팅 -> 이 방법 추천 !!!
#숫자
string = "I eat {0} apples".format(3)
print(string)
print('-'*100)

#변수
num = 3
string = "I eat {0} apples".format(num)
print(string)
print('-'*100)

#문자열
string = "I eat {0} apples".format('three')
print(string)

I eat 3 apples
----------------------------------------------------------------------------------------------------
I eat 3 apples
----------------------------------------------------------------------------------------------------
I eat three apples

In [26]:
# 2개 이상의 값 넣기
string = "I eat {0} {1}".format(3, 'bananas')
print(string)
print('-'*100)

# 이름으로 넣기 (중요한 방법!!! )
string = "I eat {number} {name}".format(number=3, name='orange')
print(string)

I eat 3 bananas
----------------------------------------------------------------------------------------------------
I eat 3 orange

In [ ]:
# 2.1.2.8 문자열 정렬 (생략)

In [31]:
# 2.1.2.9 문자열 관련 함수들
#문자 개수 세기
string = 'apple'
string.count('p')
#string.capitalize?
#string.count('a')

2

In [33]:
#위치 알려주기1(find)
string = 'apple'
print('index is ', string.find('l'))

#찾는 문자가 여러개이면 가장 처음에 나온 문자의 인덱스를 반환
print('first string for "p"?', string.find('p'))

#존재하지 않는다면 -1을 반환
print(string.find('u'))

index is  3
first string for "p"? 1
-1

In [38]:
#위치 알려주기2(index)
string = 'apple'
print(string.index('a'))

#찾는 문자가 여러개이면 가장 처음에 나온 문자의 인덱스를 반환
print(string.index('p'))

0
1

In [40]:
#문자열 삽입(join)
#'구분자'.join(적용할 문자열) 형식으로 사용한다
# 아래의 예제는 문자열 사이에 각각 구분자인 $를 넣는다
string = "$".join('apple')
print(string)

# 콤마(,)로 문자열 구분하기
string = ",".join('apple')
print(string)

a$p$p$l$e
a,p,p,l,e

In [43]:
#소문자를 대문자로 바꾸기(upper)
string = 'apple'
print(string.upper())

# 대문자를 소문자로 바꾸기(lower)
string = 'APPLE'
print(string.lower())

APPLE
apple

In [44]:
#왼쪽 공백 지우기(lstrip)
string = ' apple '
print(string.lstrip())
#오른쪽 공백 지우기(rstrip)
print(string.rstrip())
#양쪽 공백 지우기(strip)
print(string.strip())

apple
 apple
apple

In [45]:
#문자열 바꾸기(replace)  *많이 사용됨
string = 'apple is fruit'
string.replace('apple', 'banana')

'banana is fruit'

In [48]:
#문자열 나누기(split)
#split 함수는 인자를 기준으로 문자열을 나눈다
string = 'apple is fruit'
print(string.split())

#split함수에 인자를 넣어주면 인자를 기준으로 문자열을 나눈다
string = 'a:b:c:d'
print(string.split(':'))

#여러줄로 표현된 문자열 읽어들이기
string = '''
he said
who are you
i am your father
'''
string.split('\n')

['apple', 'is', 'fruit']
['a', 'b', 'c', 'd']

['', 'he said', 'who are you', 'i am your father', '']

In [49]:
#문자열 형변환.
a = 5.6
a?
s = str(a) #str 함수를 사용하면 문자열로 변경가능하다
print(s)
#s?

5.6

In [50]:
#문자열 --> 리스트 변환
s = 'python'
list(s) #리스트로 변환하는 경우 한글자씩 잘라서 원소로 변환한다

['p', 'y', 't', 'h', 'o', 'n']

In [51]:
# '\' 기호를 문자열 안에 넣고 싶은 경우 \ 2개를 넣어주어야 한다
s = '12\\34'
print(s)

12\34

In [52]:
# 2.1.3 Booleans(불리언)
condition1 = (1 == 1)
condition2 = (2 > 1)
condition3 = (2 < 1)
condition1, condition2, condition3

(True, True, False)

In [55]:
# 2.1.3 Booleans(불리언)
# 파이썬 자료형의 참과 거짓을 구분하는 기준으로 짚고 넘어감 (중간고사 프로젝트 !!!!!!!!!!!!!!!!!!!!!!!)
conditions = ['python', "", [1,2,3,], [], (), {}, 1, 0, None]
for condition in conditions :
  if condition:
    print(condition, True)
  else:
    print(condition, False)

python True
 False
[1, 2, 3] True
[] False
() False
{} False
1 True
0 False
None False

In [57]:
# 2.1.5 None
# None이란 값이 없는 변수를 나타내는 자료형
scores = {'1번 학생': 40, '2번 학생': 60, '3번 학생': None}
scores

{'1번 학생': 40, '2번 학생': 60, '3번 학생': None}

In [62]:
#[2] 값이 '없음' 인 경우
#결혼 여부를 판단하는 경우
#아래의 경우 장길산은 결혼하지 않았음을 나타낼 수 있다
marriage = {'홍길동':'김영희', '김철수':'김희영', '장길산': None}
for key, value in marriage.items():
  if marriage[key] is None:
    print(key, '는 미혼임')
  else:
    print(key, '는', marriage[key], '와 결혼함')

홍길동 는 김영희 와 결혼함
김철수 는 김희영 와 결혼함
장길산 는 미혼임

In [64]:
#[3] 값이 정의되지 않은 경우
def add(x,y):
  return None

result = add(3,4)
print(result)

None

In [66]:
#2.1.6 Dates and times(날짜와 시간)
from datetime import datetime, date, time
dt = datetime(2021, 5, 16, 20, 30, 21)
#연, 월, 일, 시, 분, 초의 경우 dt의 속성(attribute)으로 접근할 수 있다
dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second

(2021, 5, 16, 20, 30, 21)

In [67]:
#연, 월, 일만 확인하고자 하는 경우
print(dt.date())
#시, 분, 초만 확인하고자 하는 경우
print(dt.time())

2021-05-16
20:30:21

In [70]:
# 2.1.7 확인 문제
# Q1. 아래 자동차 번호의 뒤의 4자리만 출력
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [92]:
# 2.1.7 확인 문제
# Q2 아래의 문자열에서 '홀'만 출력
string = '홀짝홀짝홀짝홀짝'
print(string[::2])
print(string[2::2]) #test
print(string[1::3]) #test

홀홀홀홀
홀홀홀
짝홀짝

In [79]:
# 2.1.7 확인 문제
# Q3 문자열을 거꾸로 뒤집어 출력
string = 'python'
print(string[::-1])

nohtyp

In [80]:
# 2.1.7 확인 문제
# Q4 아래 전화번호에서 하이픈('-')을 제거하고 출력
phone_number = '010-1111-2222'
print(phone_number.replace('-', ' '))

010 1111 2222

In [ ]:
# 2.1.7 확인 문제
# Q5 아래 변수에 할당된 값의 타입을 판별

a = '123'
b = 123
c = 123.0

type_a = type(a)
type_b = type(b)
type_c = type(c)

print("변수 a 타입:", type_a)
print("변수 b 타입:", type_b)
print("변수 c 타입:", type_c)

변수 a 타입: <class 'str'>
변수 b 타입: <class 'int'>
변수 c 타입: <class 'float'>

In [ ]:
# 2.1.7 확인 문제
# Q5 다음의 요구조건에 따라 타입을 변경
#   1. 문자열(정수)은 정수로 변환
#   2. 정수는 문자열로 변환
#   3. 문자열(실수)는 실수로 변환

var1 = '720'
var2 = 100
var3 = '700.0'

var1 = int(var1) # 문자열(정수)은 정수로 변환
var2 = str(var2) # 정수는 문자열로 변환
var3 = float(var3) # 문자열(실수)는 실수로 변환

print("변환된 var1의 타입:", type(var1))
print("변환된 var2의 타입:", type(var2))
print("변환된 var3의 타입:", type(var3))

변환된 var1의 타입: <class 'int'>
변환된 var2의 타입: <class 'str'>
변환된 var3의 타입: <class 'float'>

In [ ]:
# 2.2.5 확인 문제
# Q1. 아래 코드의 출력 결과를 예상해보세요

if True :
   if False :
       print("1")
       print("2")
   else :
       print("3")
else :
   print("4")
print("5")

3
5

In [ ]:
# 2.2.5 확인 문제
# Q2. 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력함

user_input = int(input("값을 입력하세요: "))  # 사용자로부터 정수 값 입력 받기

result = user_input + 20  # 입력값에 20을 더하기

# 계산 결과가 255를 초과하는지 확인하여 조정
if result > 255:
    result = 255

print("결과:", result)

값을 입력하세요: 20
결과: 40

In [ ]:
# 2.2.5 확인 문제
#Q3. 사용자로부터 문자 1개를 입력받고 소문자인 경우 대문자로, 대문자인 경우 소문자로 변경해서 출력하세요.

user_input = input("문자 1개를 입력하세요: ")  # 사용자로부터 문자 입력 받기

# 대문자인 경우 소문자로, 소문자인 경우 대문자로 변경하여 출력
if user_input.islower():
    print(user_input.upper())
elif user_input.isupper():
    print(user_input.lower())
else:
    print("알파벳 문자를 입력하세요.")

문자 1개를 입력하세요: A
a

In [ ]:
# 2.2.5 확인 문제
# Q4. 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라
#점수   학점
#--------------
#80-100   A
#61-80    B
#41-60    C
#21-40    D
#0-20     E

score = int(input("점수를 입력하세요: "))  # 사용자로부터 점수 입력 받기

# 학점 판별
if score >= 80 and score <= 100:
    grade = "A"
elif score >= 61 and score <= 80:
    grade = "B"
elif score >= 41 and score <= 60:
    grade = "C"
elif score >= 21 and score <= 40:
    grade = "D"
elif score >= 0 and score <= 20:
    grade = "E"
else:
    grade = "유효하지 않은 점수입니다."

print("학점:", grade)

점수를 입력하세요: 40
학점: D