<a href="https://colab.research.google.com/github/Bae-SeungKwang/etc/blob/master/%5B2%EC%9E%A5%5D_Python_%EA%B8%B0%EB%B3%B8_240316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2.1.2.5 문자역 인덱싱(indexing)
string = 'apple'

#첫번째 문자(인덱스 0)가져오기
print('첫번째문자: ', string[0])

#두번째 문자(인덱스 1)가져오기
print('두번째문자: ', string[1])

length = len(string)
print('마지막문자 방법1: ', string[length-1])
print('마지막문자 방법2: ', string[-1])
print('뒤에서 3번째 문자: ', string[-3])

첫번째문자:  a
두번째문자:  p
마지막문자 방법1:  e
마지막문자 방법2:  e
뒤에서 3번째 문자:  p

In [ ]:
# 2.1.2.5 문자열 슬라이싱(slicing)
# 아래 문자에서 'are'만 출력하기
string = 'who are you?'
# 인덱싱을 활용한 방법
new_string1 = string[4] + string[5] + string[6]
# 슬라이싱을 활용한 방법
new_string2 = string[4:7]
new_string1, new_string2

('are', 'are')

In [ ]:
# 2.1.2.5 문자열 슬라이싱(slicing)
string = 'who are you?'

#시작 인덱스를 생략하면 문자열의 처음(인덱스 0)부터 시작한다
new_string1 = string[:4] #처음부터 인덱스 4미만 까지
print(new_string1)
print('-'*100)
#끝 인덱스를 생략하면 문자열의 끝까지 진행한다
new_string2 = string[8:] #인덱스 8에서 끝까지
print(new_string2)

who
----------------------------------------------------------------------------------------------------
you?

In [ ]:
#2.1.2.7 문자열 포맷팅(formatting)
#[1]숫자를 문자열에 바로 대입하기
string1 = "i am %d years old" % 50
print(string1)
print('-'*100)

#[2]숫자를 나타내는 변수로 대입
num = 50
string2 = "i am %d years old" % num
print(string2)

i am 50 years old
----------------------------------------------------------------------------------------------------
i am 50 years old

In [ ]:
#2.1.2.7 문자열 포맷팅(formatting)
#[3]문자열을 문자열에 바로 대입하기
string3 = "i am %s years old" % 'fifty'
print(string3)
print('-'*100)

#[4] 2개 이상의 값 넣기
string4 = 'i am %d years %s.' % (50, 'old')
print(string4)

i am fifty years old
----------------------------------------------------------------------------------------------------
i am 50 years old.

In [ ]:
#2.1.2.7 문자열 포맷팅(formatting)
#소수점 표현하기. 소수점 4째자리까지만 표현(5째자리에서 반올림)
"%0.4f" % 3.123456

'3.1235'

In [ ]:
#2.1.2.7 문자열 포맷팅(formatting)
#format함수를 사용한 포맷팅 -> 이 방법 추천 !!!
#숫자
string = "I eat {0} apples".format(3)
print(string)
print('-'*100)

#변수
num = 3
string = "I eat {0} apples".format(num)
print(string)
print('-'*100)

#문자열
string = "I eat {0} apples".format('three')
print(string)

I eat 3 apples
----------------------------------------------------------------------------------------------------
I eat 3 apples
----------------------------------------------------------------------------------------------------
I eat three apples

In [ ]:
# 2개 이상의 값 넣기
string = "I eat {0} {1}".format(3, 'bananas')
print(string)
print('-'*100)

# 이름으로 넣기 (중요한 방법!!! )
string = "I eat {number} {name}".format(number=3, name='orange')
print(string)

I eat 3 bananas
----------------------------------------------------------------------------------------------------
I eat 3 orange

In [ ]:
# 2.1.2.8 문자열 정렬 (생략)

In [ ]:
# 2.1.2.9 문자열 관련 함수들
#문자 개수 세기
string = 'apple'
string.count('p')
#string.capitalize?
#string.count('a')

2

In [ ]:
#위치 알려주기1(find)
string = 'apple'
print('index is ', string.find('l'))

#찾는 문자가 여러개이면 가장 처음에 나온 문자의 인덱스를 반환
print('first string for "p"?', string.find('p'))

#존재하지 않는다면 -1을 반환
print(string.find('u'))

index is  3
first string for "p"? 1
-1

In [ ]:
#위치 알려주기2(index)
string = 'apple'
print(string.index('a'))

#찾는 문자가 여러개이면 가장 처음에 나온 문자의 인덱스를 반환
print(string.index('p'))

0
1

In [ ]:
#문자열 삽입(join)
#'구분자'.join(적용할 문자열) 형식으로 사용한다
# 아래의 예제는 문자열 사이에 각각 구분자인 $를 넣는다
string = "$".join('apple')
print(string)

# 콤마(,)로 문자열 구분하기
string = ",".join('apple')
print(string)

a$p$p$l$e
a,p,p,l,e

In [ ]:
#소문자를 대문자로 바꾸기(upper)
string = 'apple'
print(string.upper())

# 대문자를 소문자로 바꾸기(lower)
string = 'APPLE'
print(string.lower())

APPLE
apple

In [ ]:
#왼쪽 공백 지우기(lstrip)
string = ' apple '
print(string.lstrip())
#오른쪽 공백 지우기(rstrip)
print(string.rstrip())
#양쪽 공백 지우기(strip)
print(string.strip())

apple
 apple
apple

In [ ]:
#문자열 바꾸기(replace)  *많이 사용됨
string = 'apple is fruit'
string.replace('apple', 'banana')

'banana is fruit'

In [ ]:
#문자열 나누기(split)
#split 함수는 인자를 기준으로 문자열을 나눈다
string = 'apple is fruit'
print(string.split())

#split함수에 인자를 넣어주면 인자를 기준으로 문자열을 나눈다
string = 'a:b:c:d'
print(string.split(':'))

#여러줄로 표현된 문자열 읽어들이기
string = '''
he said
who are you
i am your father
'''
string.split('\n')

['apple', 'is', 'fruit']
['a', 'b', 'c', 'd']

['', 'he said', 'who are you', 'i am your father', '']

In [ ]:
#문자열 형변환.
a = 5.6
a?
s = str(a) #str 함수를 사용하면 문자열로 변경가능하다
print(s)
#s?

5.6

In [ ]:
#문자열 --> 리스트 변환
s = 'python'
list(s) #리스트로 변환하는 경우 한글자씩 잘라서 원소로 변환한다

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
# '\' 기호를 문자열 안에 넣고 싶은 경우 \ 2개를 넣어주어야 한다
s = '12\\34'
print(s)

12\34

In [ ]:
# 2.1.3 Booleans(불리언)
condition1 = (1 == 1)
condition2 = (2 > 1)
condition3 = (2 < 1)
condition1, condition2, condition3

(True, True, False)

In [ ]:
# 2.1.3 Booleans(불리언)
# 파이썬 자료형의 참과 거짓을 구분하는 기준으로 짚고 넘어감 (중간고사 프로젝트 !!!!!!!!!!!!!!!!!!!!!!!)
conditions = ['python', "", [1,2,3,], [], (), {}, 1, 0, None]
for condition in conditions :
  if condition:
    print(condition, True)
  else:
    print(condition, False)

python True
 False
[1, 2, 3] True
[] False
() False
{} False
1 True
0 False
None False

In [ ]:
# 2.1.5 None
# None이란 값이 없는 변수를 나타내는 자료형
scores = {'1번 학생': 40, '2번 학생': 60, '3번 학생': None}
scores

{'1번 학생': 40, '2번 학생': 60, '3번 학생': None}

In [ ]:
#[2] 값이 '없음' 인 경우
#결혼 여부를 판단하는 경우
#아래의 경우 장길산은 결혼하지 않았음을 나타낼 수 있다
marriage = {'홍길동':'김영희', '김철수':'김희영', '장길산': None}
for key, value in marriage.items():
  if marriage[key] is None:
    print(key, '는 미혼임')
  else:
    print(key, '는', marriage[key], '와 결혼함')

홍길동 는 김영희 와 결혼함
김철수 는 김희영 와 결혼함
장길산 는 미혼임

In [ ]:
#[3] 값이 정의되지 않은 경우
def add(x,y):
  return None

result = add(3,4)
print(result)

None

In [ ]:
#2.1.6 Dates and times(날짜와 시간)
from datetime import datetime, date, time
dt = datetime(2021, 5, 16, 20, 30, 21)
#연, 월, 일, 시, 분, 초의 경우 dt의 속성(attribute)으로 접근할 수 있다
dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second

(2021, 5, 16, 20, 30, 21)

In [ ]:
#연, 월, 일만 확인하고자 하는 경우
print(dt.date())
#시, 분, 초만 확인하고자 하는 경우
print(dt.time())

2021-05-16
20:30:21

In [ ]:
# 2.1.7 확인 문제
# Q1. 아래 자동차 번호의 뒤의 4자리만 출력
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [ ]:
# 2.1.7 확인 문제
# Q2 아래의 문자열에서 '홀'만 출력
string = '홀짝홀짝홀짝홀짝'
print(string[::2])
print(string[2::2]) #test
print(string[1::3]) #test

홀홀홀홀
홀홀홀
짝홀짝

In [ ]:
# 2.1.7 확인 문제
# Q3 문자열을 거꾸로 뒤집어 출력
string = 'python'
print(string[::-1])

nohtyp

In [ ]:
# 2.1.7 확인 문제
# Q4 아래 전화번호에서 하이픈('-')을 제거하고 출력
phone_number = '010-1111-2222'
print(phone_number.replace('-', ' '))

010 1111 2222

In [ ]:
# 2.1.7 확인 문제
# Q5 아래 변수에 할당된 값의 타입을 판별

a = '123'
b = 123
c = 123.0

type_a = type(a)
type_b = type(b)
type_c = type(c)

print("변수 a 타입:", type_a)
print("변수 b 타입:", type_b)
print("변수 c 타입:", type_c)

변수 a 타입: <class 'str'>
변수 b 타입: <class 'int'>
변수 c 타입: <class 'float'>

In [ ]:
# 2.1.7 확인 문제
# Q5 다음의 요구조건에 따라 타입을 변경
#   1. 문자열(정수)은 정수로 변환
#   2. 정수는 문자열로 변환
#   3. 문자열(실수)는 실수로 변환

var1 = '720'
var2 = 100
var3 = '700.0'

var1 = int(var1) # 문자열(정수)은 정수로 변환
var2 = str(var2) # 정수는 문자열로 변환
var3 = float(var3) # 문자열(실수)는 실수로 변환

print("변환된 var1의 타입:", type(var1))
print("변환된 var2의 타입:", type(var2))
print("변환된 var3의 타입:", type(var3))

변환된 var1의 타입: <class 'int'>
변환된 var2의 타입: <class 'str'>
변환된 var3의 타입: <class 'float'>

In [ ]:
# 2.2 Control Flow(흐름 제어)
# 2.2.3.3 무한 루프
#햄버거 판매점의 키오스크에서 돌아가는 프로그램
prompt = '''
#주문은 어떤것으로 하시겠습니까?
#1. 햄버거
#2. 음료
#3. 종료
#4. 키오스크 종료
#'''
#아래의 키오스크는 종업원이 종료하기 전까지 계속 반복해서 동작할 것이다
shopping_list = []
while True:
  print(prompt)
  select = int(input())
  if select == 1:
    shopping_list.append('햄버거')
    print('햄버거를 선택하셨습니다')
  elif select == 2:
      shopping_list.append('음료')
      print('음료를 선택하셨습니다')
  elif select == 3:
      for food in shopping_list:
        print(food, end=' ')
      shopping_list = []
      print('주문 감사합니다. 다음에 또 와주세요')

  else:
    break

#주문은 어떤것으로 하시겠습니까?
#1. 햄버거
#2. 음료
#3. 종료
#4. 키오스크 종료
#
1
햄버거를 선택하셨습니다

#주문은 어떤것으로 하시겠습니까?
#1. 햄버거
#2. 음료
#3. 종료
#4. 키오스크 종료
#
2
음료를 선택하셨습니다

#주문은 어떤것으로 하시겠습니까?
#1. 햄버거
#2. 음료
#3. 종료
#4. 키오스크 종료
#
3
햄버거 음료 주문 감사합니다. 다음에 또 와주세요

#주문은 어떤것으로 하시겠습니까?
#1. 햄버거
#2. 음료
#3. 종료
#4. 키오스크 종료
#
4

In [ ]:
# 3장. 내장 자료구조, 함수, 파일
# 1.1.1 리스트 생성

#[2] 리스트 생성하고 초기화하기
a = [2, 3, 7]
#[3] range 함수를 이용하여 리스트 초기화하기
a = list(range(1,10)) #1이상 10미만의 정수를 담는 리스트 생성
b = list(range(1, 10, 2)) #1이상 10미만의 정수중에서 홀수만 담는 리스트 생성
a,b

([1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 3, 5, 7, 9])

In [ ]:
#1.1.2 리스트 인덱싱(List Indexing)

a = [ [1,2], [3,4], [5,6] ]
print('원본리스트:', a)
print('-'*100)

#a의 첫번째 원소
print('a의 첫번째 행: ', a[0])
print('-'*100)

#a의 첫번째 원소에서 첫번째 원소
print('a의 첫번째 행에서 첫번째 열: ', a[0][0])

원본리스트: [[1, 2], [3, 4], [5, 6]]
----------------------------------------------------------------------------------------------------
a의 첫번째 행:  [1, 2]
----------------------------------------------------------------------------------------------------
a의 첫번째 행에서 첫번째 열:  1

In [ ]:
a = [ [1,2], [3,4], [5,6] ]
print('원본리스트:', a)
print('-'*100)

#a의 첫번째 원소
print('a의 첫번째 행: ', a[0])
print('-'*100)

#a의 마지막 원소에서 마지막 원소
print('a의 마지막 행에서 마지막 열: ', a[-1][-1])

원본리스트: [[1, 2], [3, 4], [5, 6]]
----------------------------------------------------------------------------------------------------
a의 첫번째 행:  [1, 2]
----------------------------------------------------------------------------------------------------
a의 마지막 행에서 마지막 열:  6

In [ ]:
#[1] 리스트와 같은 자료형(배열, 튜플, ndarray)은 색인 연산자 [] 안에 시작:끝 을 지정해서 원하
#리스트[시작:끝:간격]
#[1] 슬라이싱 기본. 아래의 예제는 seq라는 리스트의 0번 인덱스에서 5번 인덱스 사이의 리스트만
seq = [1,2,3,4,5,6,7]
seq[0:5]

[1, 2, 3, 4, 5]

In [ ]:
seq = [1,2,3,4,5,6,7]
seq[0:2]

[1, 2]

In [ ]:
seq = [1,2,3,4,5,6,7]
print('0번에서 5번까지: ', seq[:5])
print('-'*100)
print('3번에서 끝까지: ', seq[3:])

0번에서 5번까지:  [1, 2, 3, 4, 5]
----------------------------------------------------------------------------------------------------
3번에서 끝까지:  [4, 5, 6, 7]

In [ ]:
seq = [1,2,3,4,5,6,7]
print(seq[::2])
print('-'*100)

#홀수번째 인덱스만 가져오기
print(seq[1::2])

[1, 3, 5, 7]
----------------------------------------------------------------------------------------------------
[2, 4, 6]

In [ ]:
#1.1.4 리스트 연산하기
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [ ]:
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a = [1,2,3]
len(a)

3

In [ ]:
# 1,1,5 리스트 원소 삽입,수정,삭제
#[1] 리스트에서 값 삽입하기
a = [1,2,3]
print('원본: ', a)
print('-'*100)

#[1-1] append 함수
a.append(4)
print(a)
print('-'*100)

#[1-2] 리스트 더하기 사용하기
print(a + [6])
print('-'*100)

원본:  [1, 2, 3]
----------------------------------------------------------------------------------------------------
[1, 2, 3, 4]
----------------------------------------------------------------------------------------------------
[1, 2, 3, 4, 6]
----------------------------------------------------------------------------------------------------

In [ ]:
#[2] 리스트에서 값 삽입하기2
#a = [1,2,3]
a = [3,7,8,5]
a.insert(1, 'red')
a

[3, 'red', 7, 8, 5]

In [ ]:
#[2] 리스트에서 값 삽입하기3
a = [1,2,3]
b = [4,5]
a.extend(b)
c = a + b
a, c

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 4, 5])

In [ ]:
#[3] 리스트에서 값 수정하기
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [ ]:
#[4-4] pop 메서드 (삭제)
a = [1,2,3,4,5]
return_value = a.pop(2)
a, return_value

([1, 2, 4, 5], 3)

In [ ]:
# 1.1.6 정렬(Sorting)
#[1] 오름차순 정렬
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [ ]:
#[2] 내림차순 정렬
a = [7, 2, 5, 1, 3]
a.sort()
#a = a[::-1] # 역순 재배열
a.reverse # 함수 이용
a

[1, 2, 3, 5, 7]

In [ ]:
#[3] 기준을 적용하여 내부 값 정렬
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [ ]:
# 1,2 튜플
# 1.2.1 튜플의 생성 (리스트와 달리 수정할 수 없다)
# [1] 1개 값 튜플 생성
with_comma_tup = (1,)
without_comma_tup = (1)
type(with_comma_tup), type(without_comma_tup)

(tuple, int)

In [ ]:
# [2] 튜플에 값 여러개 넣기
tup1 = 4, 5, 6
tup2 = (4,5,6)
print(tup1, tup2)

(4, 5, 6) (4, 5, 6)

In [ ]:
# [3] 중첩된(nested) 튜플 생성
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [ ]:
# [4] 다른 자료형에서 튜플 생성
# 아래는 리스트와 문자열이 튜플로 변환되면 어떻게 되는지 보여준다
tup1 = tuple([4,0,2])
tup2 = tuple('string')
print(tup1,tup2)

(4, 0, 2) ('s', 't', 'r', 'i', 'n', 'g')

In [ ]:
# 1.2.5 튜플 메서드
# [1] count 메서드. a가 튜플 a에 몇개나 있는지 세어본다
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [ ]:
# 1.3.1 딕셔너리 생성 (국가별 코드 확인)
countries = {'korea':'kr', "United State": "us", 'japan': 'jp', 'Taiwan': 'tw'}
print(countries)
print(len(countries))
print(countries['korea'])  # []를 넣어야 함

{'korea': 'kr', 'United State': 'us', 'japan': 'jp', 'Taiwan': 'tw'}
4
kr

In [ ]:
print('korea' in countries)

True

In [ ]:
print('China' in countries)

False

In [ ]:
# 1.3.3 딕셔너리 쌍(key-value) 추가
d1 = {}
d1[7] = 'an integer'
d1

{7: 'an integer'}

In [ ]:
# 1.4 집합(set)
# 1.4.1 집합 생성
#[1] set 함수집합 생성 중복되는 원소는 모두 제거됨
a = [2, 2, 2, 1, 3, 3]
set(a)

{1, 2, 3}

In [ ]:
#[2] 중괄호{} 이용. 위와 같은 결과
s = {2, 2, 2, 1, 3, 3}
s

{1, 2, 3}

In [ ]:
# 1.4.2 집합의 연산
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

a.union(b), a | b

({1, 2, 3, 4, 5, 6, 7, 8}, {1, 2, 3, 4, 5, 6, 7, 8})

In [17]:
# 교집합
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

a.intersection(b), a & b

({3, 4, 5}, {3, 4, 5})

In [19]:
#메서드 대신 대체 문법 사용
c = a.copy()
c |= b
print(c)

d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [ ]:
# 1.4.3 집합의 특징
my_data = [1, 2, 3, 3, 4]
r = set(my_data)
print(r)
my_set = {tuple(my_data)}
print(my_set), print(r)

{1, 2, 3, 4}
{(1, 2, 3, 3, 4)}
{1, 2, 3, 4}

(None, None)

In [ ]:
# 1.5 기타 내장 자료형 및 함수
#[1]리스트에서 enumerate 사용
some_list = ['foo', 'bar', 'baz']
for index, value in enumerate(some_list):
  print(index, value)

print('-'*100)
#[2] 딕셔너리에서 enumerate 사용
some_dict = {'name' : 'kim', 'age' : 20, 'address' : 'suwon'}
#for index, value in enumerate(some_dict):
#  print(index, value)
for index, dictkey in enumerate(some_dict):
   print(index, dictkey)

0 foo
1 bar
2 baz
----------------------------------------------------------------------------------------------------
0 name
1 age
2 address

In [11]:
# 1.5.5 난수 생성(random number generation)
# 랜덤 숫자 생성하기
import random

for roll in range(10):
  print(random.randrange(1,7), end=' ')

print()
front = 0
back = 0
sample = 10_000 #1000단위 구분은 underbar(_)를 사용할 수 있다
for roll in range(sample):
  face = random.randrange(0,2) #0이상 2미만
  if face == 0:
    front += 1
  else:
    back += 1
print(f'{front}')
print(f'{back}')

#random seed 생성
#현재 셀 안에서는 몇번을 다시 실행해도 아래의 결과가 모두 동일할 것이다
random.seed(20210617)
for roll in range(5):
  print(random.randrange(1,7), end=' ')

print()
for roll in range(5):
  print(random.randrange(1,7), end=' ')

print()
#반면 seed가 설정되지 않은 셀은 실행할때마다 변경된다
for roll in range(5):
  print(random.randrange(1,7), end=' ')

4 3 2 5 1 6 5 5 1 2
5020
4980
2 4 5 5 4
6 6 2 5 4
4 4 6 1 1