<a href="https://colab.research.google.com/github/Bae-SeungKwang/etc/blob/master/%5B2%EC%9E%A5%5D_Python_%EA%B8%B0%EB%B3%B8_%EB%AC%B8%EC%A0%9C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 2.1.7 확인 문제
# Q1. 아래 자동차 번호의 뒤의 4자리만 출력
license_plate = "24가 2210"
last_four_digits = license_plate[-4:]
print(last_four_digits)

2210

In [8]:
# 2.1.7 확인 문제
# Q2 아래의 문자열에서 '홀'만 출력
string = '홀짝홀짝홀짝홀짝'
result = string[::2]
print(result)

홀홀홀홀

In [3]:
# 2.1.7 확인 문제
# Q3 문자열을 거꾸로 뒤집어 출력
string = 'python'
reversed_string = string[::-1]
print(reversed_string)

nohtyp

In [10]:
# 2.1.7 확인 문제
# Q4 아래 전화번호에서 하이픈('-')을 제거하고 출력
phone_number = '010-1111-2222'
phone_number_without_hyphen = phone_number.replace('-', ' ')
print(phone_number_without_hyphen)

010 1111 2222

In [13]:
# 2.1.7 확인 문제
# Q5 아래 변수에 할당된 값의 타입을 판별

a = '123'
b = 123
c = 123.0

type_a = type(a)
type_b = type(b)
type_c = type(c)

print("변수 a 타입:", type_a)
print("변수 b 타입:", type_b)
print("변수 c 타입:", type_c)

변수 a 타입: <class 'str'>
변수 b 타입: <class 'int'>
변수 c 타입: <class 'float'>

In [15]:
# 2.1.7 확인 문제
# Q5 다음의 요구조건에 따라 타입을 변경
#   1. 문자열(정수)은 정수로 변환
#   2. 정수는 문자열로 변환
#   3. 문자열(실수)는 실수로 변환

var1 = '720'
var2 = 100
var3 = '700.0'

var1 = int(var1) # 문자열(정수)은 정수로 변환
var2 = str(var2) # 정수는 문자열로 변환
var3 = float(var3) # 문자열(실수)는 실수로 변환

print("변환된 var1의 타입:", type(var1))
print("변환된 var2의 타입:", type(var2))
print("변환된 var3의 타입:", type(var3))

변환된 var1의 타입: <class 'int'>
변환된 var2의 타입: <class 'str'>
변환된 var3의 타입: <class 'float'>